@charset "utf-8";
/* global css */
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
*:before, *:after{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-size-adjust: 100%; min-height:100%;background:#eee;}
body{font-size:14px;color: #999;line-height:1.5;font-family:微软雅黑,Arial;width:100%;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,th,img,div,dl,dt,dd,pre,textarea,input,button{margin:0;padding:0}
button,input,select,textarea{font-family: inherit;font-size: 100%;line-height: normal;}
textarea {overflow: auto;vertical-align: top;}
audio,canvas,video {display:inline-block;*display: inline;*zoom: 1;}
input,select,button{vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
i,em{font-style:normal;}
img{border: 0;}
pre {white-space: pre-wrap;}
del {text-decoration: line-through;}
img{-ms-interpolation-mode: bicubic;vertical-align: top;border:none;}
ul,ol{list-style-type:none;}
table{border-collapse:collapse;width:100%;border-spacing:0;}
th{text-align: inherit;}
:focus{outline: none;}

a{color: #999;text-decoration:none;cursor: pointer;}

/***********************
	零星组件
***********************/
.clearfix:after{content:''; display: table; clear:both;}
.clearfix{zoom:1;}
.bodyContainer{min-width:320px;overflow:hidden;transition:opacity 0.5s;}
.bodyContainerShow{opacity:1;}
.viewContainer{padding-top:43px;position:relative;left:0;}
body .font-red{color:#f40000;}
body .font-orange{color:#ff6529;}
body .font-orange2{color:#fca328;}
body .font-green{color:#498202;}
body .font-green2{color:#6caf14;}
body .font-gray{color:#999;}
body .font-dark{color:#666;}
body .font-black{color:#333;}
body .font-10{font-size:10px;}
body .font-11{font-size:11px;}
body .font-12{font-size:12px;}
body .font-13{font-size:13px;}
body .font-14{font-size:14px;}
body .font-15{font-size:15px;}
body .font-16{font-size:16px;}
body .font-17{font-size:17px;}
body .font-18{font-size:18px;}
.bg-red{background-color:#f40000;color:#fff;}
.bg-orange{background-color:#ff6529;color:#fff;}
.bg-orange2{background-color:#fca328;color:#fff;}
.bg-green{background-color:#6caf14;color:#fff;}
.bg-disable{background-color:#999;color:#fff;}
.bg-white{background-color:#fff;}
.border-orange2{border-color:#fca328;}
.ellipsis{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.hide,ng-hide{display:none;}
.mask{width:100%;background:rgba(0,0,0,0.4);height:100%;position:fixed;left:0;top:0;z-index:1;}
.quantity{position:absolute;right:9px;bottom:13px;width:90px;height:30px;background:url(../images/icons2.png);background-size:93px 185px;overflow:hidden;}
.quantity span{display:inline-block;width:30px;height:30px;}
.quantity input{display:inline-block;border:none;width:30px;height:30px;text-align:center;color:#666666;font-size:13px;vertical-align:top;background:none;}
.quantity .input{text-align:center;color:#666666;font-size:13px;vertical-align:top;height:auto;margin-top:0;line-height:30px;}
.ng-leave{display:none;}
.icon{display:inline-block;background:url(../images/icons2.png) no-repeat;background-size:93px 185px;}
.icn{display:inline-block;background:url(../images/icons.png) no-repeat;background-size:27px 550px;}
.i-arrow{width:8px;height:13px;background-position:100% -267px;}
.stars .icn{background-size:15px 306px;background-position: 0 -193px;width:12px;height:12px;margin-right:2px;}
.stars .i-star{background-position:0 -181px;}
.stars .i-half{background-size:27px 550px;background-position:0 -368px}
.stars2 .icn{background-position: 0 -347px;width:20px;height:20px;margin-right:14px;}
.stars2 .i-star{background-position:0 -326px;}
.i-round{width:18px;height:18px;vertical-align:middle;background-position:0 -118px;}
.roundSelected{background-position:0 -100px;}
.i-addr{width:12px;height:15px;background-position:100% -368px;margin-right:5px;vertical-align: text-bottom;}
.i-shop{width:14px;height:15px;background-size: 21px 428px;background-position: 0 -357px;margin-right: 7px;position: relative;top:2px;}
.left{float:left;}
.right{float:right;text-align:right;}
.round2{background:#fff;border-radius:30px;border:1px solid #e6e6e6;width:50px;height:30px;transition:all 0.3s;}
.round2Selected{padding-left:20px;background:#4cd864;border-color:#4cd864;}
.round2 i{display:inline-block;height:28px;width:28px;border-radius:30px;background:#fff;box-shadow:0 1px 1px #888;}
.btn{display:inline-block;border-radius:5px;text-align:center;transition:all 0.5s;border:none;}
.btn[disabled]{background-color:#999;color:#fff;}
.empty{text-align:center;line-height:24px;}
.empty .btn{width:225px;line-height:43px;margin-top:30px;}



.loading {position:fixed;width:100%;height:100%;top:0;left:0;z-index:10;transition: opacity 0.3s;opacity: 1;visibility: visible;background:rgba(255,255,255,0.6);}
.loading div{position: absolute;width:100%;top:50%;margin-top:-8px;text-align: center;}
.loading span {display:inline-block;width: 16px;height: 16px;background-color: #74BA1C;border-radius: 100%;animation: sk-bouncedelay 1.7s infinite ease-in-out;-webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out;margin:0 3px;box-shadow: 1px 1px 2px rgba(0,0,0,0.3)}
.loading .i1 {animation-delay: -0.84s;-webkit-animation-delay: -0.84s;}
.loading .i2 {animation-delay: -0.68s;-webkit-animation-delay: -0.68s;}
.loading .i3 {animation-delay: -0.52s;-webkit-animation-delay: -0.52s;}
.loading .i4 {animation-delay: -0.36s;-webkit-animation-delay: -0.36s;}
.loading .i5 {animation-delay: -0.20s;-webkit-animation-delay: -0.20s;}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {transform: scale(0);-webkit-transform: scale(0);opacity: 0;}
	40% {transform: scale(1);-webkit-transform: scale(1);opacity: 1;}
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {transform: scale(0);-webkit-transform: scale(0);opacity: 0;}
	40% {transform: scale(1);-webkit-transform: scale(1);opacity: 1;}
}

.ie9 .loading{background:url(../images/41.gif) no-repeat center center;}
.loadingHide{opacity: 0;visibility: hidden;}
.loadingHide span{animation:none;}
.alertPop{position:fixed;width:200px;left:50%;margin-left:-100px;top:200px;background:rgba(0,0,0,0.6);color:#fff;text-align:center;border-radius:5px;padding:10px;display:none;}

.topTitle{height:43px;line-height:43px;padding:0 53px 0 63px;border-bottom:1px solid #999;position:fixed;text-align:center;width:100%;top:0;left:0;z-index:1;background:#fff;transition:left 0.3s linear;}
.topTitle .icn{position:absolute;left:0;top:0;width:40px;height:42px;}
.topTitle .icon1{background-position: 15px 15px;}
.topTitle .icon2{background-position:15px -16px;display:none;}
.topTitle .title{font-size:17px;color:#333;}
.topTitle a.title{padding-right:12px;background:url(../images/icons.png) no-repeat 100% -264px;background-size:27px 550px;display: inline-block;line-height: 20px;}
.topTitle .b{display:block;position:absolute;right:0;top:0px;width:44px;height:42px;text-align:left;}
.topTitle .add{font-size:35px;padding-left:10px;}
.topTitle .edit{background:#fff;border:1px solid #cccccc;}
.topTitle2 .icon1{display:none;}
.topTitle2 .icon2{display:block;}
.posTitle .topTitle{position:absolute;}

@keyframes fade{
    from{opacity:0}
    to{opacity: 1}
} 
@-webkit-keyframes fade{
    from{opacity:0}
    to{opacity: 1}
}
.fade{-webkit-animation: fade 1s ease-out;animation: fade 1s ease-out;}
@keyframes jump{
    0{transform:scale(1)}
    30%{transform:scale(0.8)}
    60%{transform:scale(1)}
    80%{transform:scale(0.9)}
    100%{transform:scale(1)}
} 
@-webkit-keyframes jump{
    0{-webkit-transform:scale(1)}
    30%{-webkit-transform:scale(0.8)}
    60%{-webkit-transform:scale(1)}
    80%{-webkit-transform:scale(0.9)}
    100%{-webkit-transform:scale(1)}
}
.jump{-webkit-animation: jump 0.5s;animation: jump 0.5s;}

.mainView{padding-top:40px;}
.mainView .sorts{height:40px;border-bottom:1px solid #ccc;background:#eee;padding:6px 0;position:fixed;top:43px;left:0;width:100%;overflow:hidden;transition:left 0.3s linear;}
.mainView .sorts .sort{width:33%;text-align:center;float:left;line-height:26px;border-right:1px solid #ccc;padding-right:5%;position:relative;}
.mainView .sorts .sort i{position:absolute;right:14%;top:12px;width:8px;height:5px;background-position:100% -100px;}
.mainView .sorts .current{color:#6caf14;}
.mainView .sorts .line{position:absolute;height:2px;bottom:0;background:#6caf14;width:33%;left:-33%;transition:left 0.5s linear;}
.mainView .subs{top:83px;transition:left 0.3s linear;}
.sideBarShow .mainView .subs{left:178px;}
.mainView .subs .sub{max-height:0;overflow:hidden;transition:max-height 0.3s linear;background:#fff;padding:0 15px;}
.mainView .subs .show{max-height:300px;}
.mainView .subs span{display:block;border-bottom:1px solid #cccccc;font-size:13px;color:#666666;height:44px;line-height:44px;}
.mainView .subs .current{color:#6caf14;}
.mainView .subs .current i{width:17px;height:13px;background-position:0 -136px;vertical-align:baseline;}
.mainView .subs .bottom{text-align:center;padding:1px 0 2px;background:#fff;}
.mainView .subs .bottom span{display:inline-block;border-top:2px solid #ccc;border-bottom:2px solid #ccc;height:6px;width:18px;}
.mainView .item{border-bottom:1px solid #d4d4d4;position:relative;padding:10px 0 10px 72px;
    -webkit-animation: fade 0.5s ease-out;animation: fade 1s ease-out;}
.mainView .item a{display:block;}
.mainView .item .pic{position:absolute;top:12px;left:15px;}
.mainView .item .pic img{width:45px;height:45px;border-radius:5px;}
.mainView .item .name{margin-right:62px;}
.mainView .item .stars{display:block;line-height:12px;padding:1px 0 8px;}
.mainView .item .stars i{vertical-align:top;}
.mainView .item .stars span{margin-left:3px;}
.mainView .item .desc{line-height:18px;display:block;}
.mainView .item .distant{position:absolute;right:15px;top:32px;}
.mainView .item .resting{position:absolute;left:0;top:63px;padding:2px 0 2px 17px;width:60px;border-radius:0 30px 30px 0;}

.locateView{position:fixed;width:293px;left:50%;margin-left:-147px;height:142px;top:50%;margin-top:-70px;background:#fff;border-radius:5px;padding:12px 20px;}
.locateView .d1{text-align:center;font-size:12px;}
.locateView .d2{position:relative;margin-top:17px;}
.locateView .d2 input{border:none;background:none;width:222px;margin-left:5px;font-size:13px;}
.locateView .d2 .icn{width:25px;height:25px;background-position:7px -480px;vertical-align:middle;}
.locateView .d3{height:4px;border:1px solid #ccc;border-top:none;}
.locateView .d4{margin-top:18px;font-size:12px;}
.locateView .d4 span{width:119px;height:30px;line-height:30px;}
.locateView .d4 .cancel{margin-right:15px;border:1px solid #e4e4e4;line-height:28px;}

.sideBarMask{z-index:10;visibility: hidden;opacity: 0;transition:all 0.5s;}
.sideBarShow .sideBarMask{visibility: visible;opacity: 1;}
.sideBar{width:178px;overflow:hidden;position:fixed;left:0;top:0;box-shadow:0 0 5px 0px rgba(0,0,0,0.6);background:url(../images/24.png) no-repeat #fff;background-size:178px 178px;height:100%;z-index:10;transition:all 0.3s linear;visibility: hidden;transform: translateX(-183px);-webkit-transform: translateX(-183px);}
.sideBarShow .sideBar{visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);}
.sideBar .user{color:#fff;text-align:center;height:179px;border-bottom:1px solid #cfcfcf;position:relative;}
.sideBar .u1{padding:46px 0 0;}
.sideBar .u1 .btn{width:106px;height:44px;margin:10px 0;background:rgba(256,256,256,0.5);line-height:44px;border-radius:5px;}
.sideBar .u2{padding:44px 0 0;}
.sideBar .u2 .icon{width:60px;height:60px;margin-bottom:10px;background-position: 0 -30px;}
.sideBar .u2 a{position:absolute;right:10px;top:6px;}
.sideBar .menu a{display:block;height:45px;border-bottom:1px solid #d6d6d6;line-height:45px;color:#020000;padding-left:40px;}
.sideBar .menu .icn{width:24px;margin-right:6px;position: relative;}
.sideBar .menu .a1{background-position:0 -166px;height:19px;top:3px;}
.sideBar .menu .a2{background-position:0 -185px;height:18px;top:4px;}
.sideBar .menu .a3{background-position:0 -203px;height:21px;top:4px;}
.sideBar .menu .a4{background-position:0 -224px;height:21px;top:4px;}
.sideBar .menu .a5{background-position:0 -246px;height:18px;top:3px;}


.shopView{padding-left:85px;}
.shopView .cats{position:fixed;top:43px;left:0;width:85px;border-right:1px solid #cccccc;text-align:center;height:100%;}
.shopView .cats div{padding:13px 10px;line-height:18px;}
.shopView .cats .info{display:block;height:60px;border-bottom:1px solid #ccc;padding-top:9px;font-size:10px;background: #fff;}
.shopView .cats .info .icn{background-position:0 -459px;width:18px;height:19px;margin-top:3px;}
.shopView .cats .current{background:#fff;border-left:4px solid #6caf14;width:85px;color:#6caf14;text-indent:-4px;}
.shopView .items{min-height:780px;background:#fff;padding-bottom:50px;}
.shopView .items .title div{height:30px;border-bottom:1px solid #ccc;padding-left:9px;line-height:30px;}
.shopView .items .item{height:83px;border-bottom:1px solid #cccccc;padding:13px 0 0 72px;position:relative;}
.shopView .items .item .pic{position:absolute;left:9px;top:15px;width:52px;height:52px;}
.shopView .items .item .pic img{width:54px;height:54px;}
.shopView .items .item .name{font-size:15px;color:#333;line-height:18px;}
.shopView .items .item .price{font-size:12px;line-height:24px;}
.shopView .items .item .price .font-red{font-size:18px;}
.shopView .items .item .zan{font-size:10px;padding-left:15px;background:url(../images/icons.png) no-repeat 0 -270px;background-size:19px 387px;}
.shopView .items .item .icon{position:absolute;right:15px;bottom:13px;width:30px;height:30px;background-position:-60px -30px;}
.shopView .items .item .q{position:absolute;right:15px;bottom:13px;width:0;overflow:hidden;transition:width 0.5s;height:30px;}
.shopView .items .item .show{width:90px;}
.shopView .items .item .quantity{right:0;bottom:0;}
.shopView #testImg{transtion:all 1s;position:absolute;z-index:1000;height:0;width:0;}

#cartIcon{position:fixed;width:56px;height:56px;display:block;right:-72px;bottom:6px;border:1px solid #6caf14;background-position:center -45px;background-color:#fcffcf;z-index:3;border-radius:30px;transition:right 1s;}
#cartIcon .bg-orange{position:absolute;right:1px;top:0;display:inline-block;line-height:18px;font-size:10px;color:#fff;min-width: 18px; background:#ff6529;border-radius:9px;text-align: center;}
#cartIcon.cartIconShow{right:15px;}
.carts .cartDetail{position:fixed;width:100%;height:100%;bottom:-100%;left:0;transition:all 0.3s linear;background:#eee;z-index:3;overflow:hidden;overflow-y:auto;opacity: 0;color:#333;font-size: 15px;}
.carts .shopname{padding:53px 0 3px 17px;}
.cartEmpty .shopname{display:none;}
.carts .cartItem{height:66px;border-top:1px solid #ccc;position:relative;padding:10px 158px 0 100px;transition:all 0.3s linear;left:0;margin-right:-44px;overflow:hidden;line-height:24px;background: #fff;}
.carts .cartItemMove{left:-44px;} 
.carts .cartItemDel{height:0;padding:0 0 0 15px;}
.carts .cartItem .i-round{position:absolute;left:15px;top:24px;}
.carts .cartItem img{width:45px;height:45px;position:absolute;left:44px;top:10px;}
.carts .cartItem .quantity{right:59px;top:17px;}
.carts .cartItem .bg-red{width:44px;line-height:65px;font-size:12px;text-align:center;position:absolute;right:0;top:0;}
.carts .empty{display:none;padding-top:100px;text-align:center;line-height:26px;}
.carts .empty .icon{background-position: 0 -90px;width:93px;height:93px;margin-bottom: 10px;}
.cartEmpty .empty{display:block;}
.carts .empty a{width:225px;height:43px;line-height:43px;background:#fff;margin-top:50px;}
.carts .topTitle{top:100%;transition:all 0.3s linear;opacity: 0;z-index: 3;}
.carts .topTitle a{position:absolute;left:15px;top:0px;font-size:14px;}
.cartShow .topTitle{top:0;opacity: 1}
.carts .cartAmount{height:49px;line-height:49px;position:fixed;width:100%;left:0;bottom:-49px;border-top:1px solid #999;z-index:3;transition:all 0.3s linear;opacity: 0;background: #fff;}
.carts .cartAmount .r{position:absolute;right:10px;top:-1px;}
.carts .cartAmount .bg-red{width:90px;height:36px;margin:-4px 0 0 10px;font-size: 15px;}
.carts .cartAmount .i-round{margin:-4px 8px 0 15px;}
.cartShow .cartDetail,
.cartShow .cartAmount{bottom:0;opacity: 1}
.cartEmpty .cartAmount{bottom:-49px;opacity: 1}

.shopView2 .bg-white{padding:15px 15px;margin-bottom:10px;}
.shopView2 .c1 img{width:75px;height:75px;border-radius:6px;margin-right:12px;}
.shopView2 .c1 .font-black{line-height:15px;}
.shopView2 .c1 .stars{margin:0 0 4px;}
.shopView2 .c1 .stars span{margin-left:3px;}
.shopView2 .c3{line-height:46px;padding:0 15px;}
.shopView2 .c3 .addr{border-bottom:1px solid #ccc;}
.shopView2 .c4{padding-bottom:0;}
.shopView2 .c4 .d1{border-bottom:1px solid #ccc;padding-bottom:5px;}
.shopView2 .c5{text-align:center;margin-bottom:20px;}

.signView {position: fixed;width:100%;height:100%;background:#eee;left:0;top:0;z-index:10;padding-top:43px;visibility: hidden;transform:translateY(100%);-webkit-transform:translateY(100%);transition:all 0.6s ease;box-shadow: 0 0 8px rgba(0,0,0,0.5)}
.signViewShow{transform:translateY(0);-webkit-transform:translateY(0);visibility: visible;}
.signView .topTitle{position: absolute;}
.signView .topTitle a{position:absolute;left:15px;top:0px;font-size:14px;}
.signCon{padding:25px 15px;text-align:center;}
.signCon input{display:block;height:48px;border-radius:5px;background:#fff;border:1px solid #cccccc;width:100%;margin-bottom:20px;padding:0 15px;background:#fff;font-size:15px;}
.signCon button{font-size:17px;width:100%;margin-bottom:20px;height:45px;}
.signCon a{font-size: 18px;}

.addressView .item{left:0;transition:left 0.3s linear;}
.addressView .scroll{border-bottom:1px solid #ccc;padding:10px 40px 0 15px;position:relative;height:70px;}
.addressView .default{background:#ffffe8;}
.addressView .showDel{left:-58px;}
.addressView .item .icn{position:absolute;right:15px;top:30px;}
.addressView .default .icn{width:18px;height:18px;background-position:0 -284px;top:25px;}
.addressView .item .del{display:block;width:57px;height:69px;background:#ff3b30;line-height:70px;color:#fff;font-size:18px;text-align:center;position:absolute;right:-58px;top:0;}
.addressView2 .line{border-bottom:1px solid #ccc;height:55px;padding:15px 15px 0;position:relative;}
.addressView2 .line input{display:inline-block;width:84%;height:26px;border:none;}
.addressView2 .line .font-orange{top:-9px;position:relative;}
.addressView2 .icn{position:absolute;right:0;top:12px;width:45px;height:30px;background-position:15px -478px;}
.addressView2 .round2{text-align:left;}
.addressView2 .btn {width:100%;height:46px;line-height:46px;font-size:17px;display:block;}
.addressView3 .input{padding:12px 58px 12px 15px;position:relative;border-bottom:1px solid #ccc;}
.addressView3 .input input{border:none;background:#fff;border-radius:5px;padding:6px 10px;width:100%;}
.addressView3 .input div{position:absolute;right:15px;top:15px;}
.addressView3 .bg-white{padding:10px 15px;border-bottom:1px solid #ccc;position:relative;}
.addressView3 .add{display:block;}
.addressView3 .icn{position:relative;top:2px;}
.addressView3 .icon1{background-position:0 -149px;width:15px;height:15px;margin-right:5px;}
.addressView3 .icon2{background-position:100% -149px;width:11px;height:15px;margin:0 7px 0 3px;}
.addressView3 .i-arrow{position:absolute;right:15px;top:16px;width:7px;height:13px;}
.addressView3 .history{padding:20px 0 5px 15px;border-bottom:1px solid #ccc;}
.addressView3 .item {padding-right:93px;}
.addressView3 .item .icn{background-position:0 -136px; width:17px; height:13px; position:absolute; right:32px; top:31px; display:none;}
.addressView3 .current .icn{display:block;}
.addressView3 .item .btn{padding:5px 10px;position:absolute;right:15px;top:20px;border:1px solid #999;}
.addressView3 .current .btn{display:none;}

.orderView{padding-bottom:60px;}
.orderView .bg-white{margin-bottom:10px;padding:14px 15px;}
.orderView .line{height:2px;background:url(../images/9.png?20150814);background-size:18px 2px;}
.orderView .address{display:block;line-height:20px;position:relative;margin-bottom:0;}
.orderView .address .font-dark{font-size:12px;}
.orderView .address .icn{position:absolute;right:15px;top:50%;margin-top:-4px;}
.orderView .remark{border:none;width:100%;font-size:15px;height:20px;}
.orderView .i-round{margin:-2px 8px 0 25px;}
.orderView .title{padding:0 0 2px 15px;font-size:15px;}
.orderView .cartDetail{padding:12px 15px 8px;}
.orderView .cartItem{margin-bottom:4px;line-height:30px;}
.orderView .cartItem .left{max-width:220px;}
.orderView .cartItem .left img{width:30px;margin-right:3px;}
.orderView .cartDetail .sub{text-align:right;border-top:1px solid #ccc;margin:8px -15px 0;padding:5px 15px 0;}
.orderView .amount{text-align:right;line-height:26px;padding-right:15px;}
.orderView .amount span{display:inline-block;min-width:60px;}
.orderView .summary{border-top:1px solid #999;position:fixed;bottom:0;left:0;width:100%;height:49px;padding:4px 15px 0;text-align:right;margin:0;}
.orderView .summary .btn{font-size:15px;padding:7px 14px;margin:1px 0 0 10px;}

.popup{z-index:2;text-align:center;visibility:hidden;transition: all 0.5s;opacity: 0;}
.popup .popCon{width:270px;position:absolute;left:50%;top:50%;margin:-140px 0 0 -135px;background:#fff;border-radius:5px;padding-bottom:19px;overflow:hidden;transition: all 0.5s;-webkit-transform: translateY(-500px);transform: translateY(-500px);}
.popup .popTitle{border-bottom:1px solid #ccc;font-size:16px;font-weight:bold;height:38px;line-height:37px;color:#3c4136;}
.popup .popBtn .btn{width:102px;height:35px;line-height:35px;}
.popup .popBtn .font-gray{border:1px solid #d8d8d8;line-height:33px;margin-right:14px;}
.popupShow{visibility: visible;opacity: 1;}
.popupShow .popCon{-webkit-transform: translateY(0);transform: translateY(0);}

.orderView .shipTime .times{max-height:178px;overflow:auto;font-size:15px;margin:5px 52px;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
.orderView .shipTime .times div{line-height:34px;height:34px;color:#c0c0c0;}
.orderView .shipTime .times .current{border-top:2px solid #ccc;border-bottom:2px solid #ccc;height:38px;color:#333;}
.orderView .shipTime .times span{margin:0 15px;}

.orderSuccessView{padding:0 15px 30px;}
.orderSuccessView .msg{border-bottom:1px solid #cfcfcf;text-align:center;line-height:90px;margin:0 -15px 10px;}
.orderSuccessView .msg i{width:24px;height:24px;background-position:0 -302px;vertical-align:middle;margin:-4px 10px 0 0;}
.orderSuccessView .info{line-height:24px;font-size:12px;}
.orderSuccessView .info em{font-size:14px;}
.orderSuccessView .btn{display:block;height:35px;line-height:35px;margin-top:9px;}
.orderSuccessView .btns{margin-right:-12px;}
.orderSuccessView .btns .left{width:50%;padding-right:12px;}
.orderSuccessView .btns .btn{line-height:33px;border:1px solid #dddddd;}

.myOrdersView{padding:56px 0 12px 0;overflow:hidden;}
.myOrdersView .tab{line-height:45px;text-align:center;position:fixed;width:100%;left:0;top:43px;border-bottom:1px solid #eee;transition:left 0.3s linear;}
.myOrdersView .tab span{display:block;width:22%;float:left;}
.myOrdersView .tab span:first-child{margin-left:6%;}
.myOrdersView .tab .current{color:#f40000;}
.myOrdersView .tab div{position:absolute;height:2px;width:22%;background:#f40000;margin-left:6%;bottom:0;left:0;transition:left 0.3s;}
.myOrdersView .item{padding:10px 15px 5px;margin-bottom:12px;background:#fff;}
.myOrdersView .item .no{font-size:12px;margin-bottom:8px;}
.myOrdersView .item .shop{font-size:15px;height:25px;}
.myOrdersView .products{border-top:1px solid #ccc;padding:3px 0;}
.myOrdersView .prod{line-height:35px;}
.myOrdersView .prod .left{width:80%;}
.myOrdersView .prod img{width:30px;margin-right:5px;vertical-align: middle;}
.myOrdersView .total{border-top:1px solid #ccc;line-height:34px;margin:5px 0 2px;}
.myOrdersView .btns{text-align:right;}
.myOrdersView .btns .btn{padding:2px 6px;border:1px solid #666;font-size:15px;margin:0 0 10px 6px;}
.myOrdersView .btns .font-orange{border-color:#ff6529;}

.myOrderView{padding:0 0 36px;}
.myOrderView .bg-white{margin-top:10px;padding:10px 15px;}
.myOrderView .head{background:#ffffe8;padding:10px 15px;position:relative;border-bottom:1px solid #e1e1b8;line-height:24px;}
.myOrderView .code{padding-top:12px;margin-top:6px;border-top:1px solid #e1e1b8;}
.myOrderView .delivery{margin-top:0;border-bottom:1px solid #ccc;max-height:54px;overflow:hidden;transition:max-height 1s;position:relative;padding-bottom:0;}
.myOrderView .line{height:2px;background:url(../images/9.png?20150814);background-size:18px 2px;}
.myOrderView .address{margin-top:0;line-height:20px;}
.myOrderView .remark{margin-top:0;}
.myOrderView .item .no{margin-bottom:5px;}
.myOrderView .products{max-height:none;}
.myOrderView .total{line-height:21px;padding-top:4px;}
.myOrderView .total .right span{display:inline-block;min-width:50px;}

.myPhoneView .a input{width:71%;border-radius:5px 0 0 5px;border-right:none;display: inline-block}
.myPhoneView .a button{width:29%;border-radius:0 5px 5px 0;font-size:15px;height:48px;}
.myPhoneView .a .bg-disable{font-size:16px;}
.myPhoneView .nophone{margin-top:10px;font-size:12px;}
.myPhoneView .msg{padding-top:50px;font-size:18px;}
.myPhoneView .msg i{display: inline-block;width:58px;height:90px;background: url(../images/2.png) #fff;background-size: 100% 100%;margin-bottom: 20px;}

.comments .comment{border-bottom:1px solid #ccc;padding:12px 0;}
.comments .comment:last-child{border-bottom:none;}
.comments .user{line-height:18px;color:#999;}
.comments .user .u{display:inline-block;max-width:140px;vertical-align:top;margin:-1px 5px 0 0;}
.comments .date{font-size:12px;}
.comments .desc{line-height:18px;margin-top:2px;color:#333;}
.comments .like{font-size:12px;margin-top:5px;color:#999;}
.comments .like .icn{width:17px;height:18px;background-position:0 -384px;vertical-align: text-bottom;margin-right:5px;}

.commentView .bg-white{margin-bottom:10px;padding:10px 15px;}
.commentView .tit{padding:0 15px 7px;}
.commentView .shop{height:106px;position:relative;padding:20px 0 0 102px;line-height:30px;}
.commentView .shop a {display:block;}
.commentView .shop .pic{position:absolute;left:15px;top:14px;}
.commentView .shop .pic img{width:75px;height:75px;border-radius:6px;}
.commentView .c1{padding:15px;}
.commentView .c1 .stars2{position:relative;top:4px;margin:0 5px 0 22px;}
.commentView .c1 .stars2 i{vertical-align:baseline}
.commentView textarea{height:60px;width:100%;border:none;}
.commentView .c3 {padding:0;}
.commentView .c3 .p{border-bottom:1px solid #cccccc;padding:15px 90px 10px 15px;position:relative;}
.commentView .c3 .p:last-child{border:none;}
.commentView .c3 .ellipsis{line-height:16px;}
.commentView .c3 .z{width:58px;position:absolute;right:15px;top:15px;text-align:right;color:#ccc;background-position:0 -405px;line-height:27px;}
.commentView .c3 .zan{background-position:0 -432px;color:#fca328;}
.commentView .btn{line-height:44px;margin:21px 15px;display:block;}

.aboutView{padding:130px 0 30px;background:url(../images/44.png) no-repeat center 22px;background-size:89px 89px;}
.aboutView div{padding:0 18px;}
.aboutView .phone{line-height:24px;margin:20px 0 22px;}
.aboutView .declare{display:block;line-height:45px;text-indent:15px;position:relative;}
.aboutView .declare .icn{position:absolute;right:14px;top:17px;}

.declareView{padding:15px;}
.declareView p{text-indent:30px;margin-bottom:5px;}

