<div class="addressView bg-white font-dark">
    <div class="item fade" ng-repeat="a in addresses" ng-class="{default:a.defaultSet}">
        <div class="scroll" ng-click="edit(a.id)">
            <span class="font-black">{{a.contactName}}<span class="phone" style="margin-left:20px;">{{a.phone}}</span></span><br>
            <span class="font-12">{{a.address}}</span>
            <span class="icn i-arrow"></span>
            <span class="del" ng-click="del($event, a.id, $index)">删除</span>
        </div>
    </div>
</div>
<div ng-include src="'partials/menu2.html'"></div>