<div class="declareView font-dark">
    <p>1、除非法律法规明确要求，或出现以下情况，否则，“真豪”没有义务对所有用户的信息数据、商品和服务信息、交易行为以及与交易有关的其它事项进行事先审查。</p>
    <p>2、您根据“菜籽”提供的商户信息，与之发生的买卖关系或服务关系是您与该商户之间的独立买卖关系或服务关系。您因与商户交易所发生的任何损失，“真豪”均不承担责任。有关商户提供产品或服务的质量、性能、准确性等方面的全部风险均由您承担。</p>
    <p>3、在适用法律不禁止的范围内，在任何情况下，对由于使用或无法使用菜籽软件、服务或连同菜籽软件使用任何第三方软件或应用软件所引起或与此有关的任何人身伤害或任何附带的、特别的、间接的或后果性的损害赔偿，包括但不限于利润损失、数据或信息混乱或损失、不能传送或接收任何数据、业务中断的损害赔偿或任何其它商业损害赔偿或损失，无论其成因及基于何种责任，“真豪”均不承担负责。</p>
    <p>4、不论在何种情况下“真豪”均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>     
</div>
<div ng-include src="'partials/menu2.html'" class="topTitle2"></div>