<div class="orderView font-dark">
    <div class="line"></div>
    <a class="bg-white address font-dark" href="#!/addresses?from=order">
        <span class="font-black">{{geo.contactName}}</span>
        <span class="font-black" style="margin-left:20px;">{{geo.phone}}</span><br>
        <span class="font-12">{{geo.address}}</span>
        <span class="font-gray font-12" ng-if="!geo" style="position:relative;top:-10px;">您还没有填写收货人信息，立即去填写。</span>
        <span class="icn i-arrow"></span>
    </a>
    <div class="line" style="margin-bottom:10px;"></div>
    <div class="bg-white"><textarea type="text" class="remark" placeholder="给店家留言" ng-model="$parent.orderRemark" maxlength="40" ng-focus="focus()" ng-blur="blur()"></textarea></div>
    <div class="bg-white font-15">配送方式<span ng-click="delivery='HOME_DELIVERY'"><i class="icn i-round" ng-class="{roundSelected:delivery=='HOME_DELIVERY'}"></i>送货上门</span><span ng-click="delivery='ONESELF'"><i class="icn i-round" ng-class="{roundSelected:delivery=='ONESELF'}"></i>自提</span></div>
    <div class="bg-white font-15">支付方式<span ng-click="payment='ONLINE'"><i class="icn i-round" ng-class="{roundSelected:payment=='ONLINE'}"></i>在线支付</span><span ng-click="payment='COD'"><i class="icn i-round" ng-class="{roundSelected:payment=='COD'}"></i>货到付款</span></div>
    <div class="title">订单明细</div>
    <div class="cartDetail bg-white">
        <div ng-repeat="c in cart.items|filter:{check:true}" class="cartItem clearfix">
            <div class="left"><img src="images/44.png" /> {{c.name+c.id}}</div>
            <div class="right"><span class="font-black">&yen; {{c.price.toFixed(1)}}</span><span class="font-gray"> x{{c.quantity}}</span></div>
        </div>
    </div>
  
  
    <div class="amount">
        <div>小计：<span>&yen; {{subTotal.toFixed(1)}}</span></div>
        <div>运费：<span>&yen; {{delivery=='HOME_DELIVERY'?shop.deliveryFee.toFixed(1):"0.00"}}</span></div>
    </div>
    <div class="summary bg-white">
        实际应付：<span class="font-red font-18">&yen; {{(subTotal+(delivery=='HOME_DELIVERY'?shop.deliveryFee:0)).toFixed(1)}}</span>
        <span class="btn bg-red" ng-click="submit()">确认订单</span>
    </div>
    <div class="popup mask shipTime" ng-class="{popupShow:showTime}">
        <div class="popCon">
            <div class="popTitle">选择收货时间（限当天）</div>
            <div class="times">
                <div ng-repeat="time in shipTimes" ng-click="$parent.shipTimeIndex=$index" ng-class="{current:$parent.shipTimeIndex==$index}">{{time|date:"HH:mm"}}<span>~</span>{{($last?(time+1800000):shipTimes[$index+1])|date:"HH:mm"}}</div>
            </div>
            <div class="popBtn"><span class="btn font-gray" ng-click="showTime=false">取消</span><span class="btn bg-orange" ng-click="submit2()">确定</span></div>
        </div>
    </div>
</div>
<div ng-include src="'partials/menu2.html'" class="topTitle2 posTitle"></div>