<div class="orderSuccessView bg-white font-dark">
    <div class="msg font-black"><i class="icn"></i>恭喜您，订单提交成功</div>
    <div class="info clearfix">
       <div class="left">订单号 &nbsp;{{order.no}}</div>
       <div class="right">下单时间 &nbsp;{{order.no|date:"yyyy-MM-dd HH:mm"}}</div>
    </div>
    <div class="info">
    共{{order.count}}件<span style="margin-left:17px;">应付</span> &nbsp;<em class="font-red font-15">&yen; {{order.amount.toFixed(1)}}</em><br>
    配送方式 &nbsp;<span class="font-orange">{{order.delivery.getDeliveryName()}}</span><br>
    支付方式 &nbsp;<span class="font-orange">{{order.payment.getPaymentName()}}</span>
    </div>
    <a class="pay bg-orange btn" ng-click="pay()" ng-if="order.payment=='ONLINE'&&order.amount>0">去支付</a>
    <div class="btns clearfix">
        <div class="left"><a href="#!/my/orders" class="btn font-dark">查看订单</a></div>
        <div class="left"><a href="#!/" class="btn font-dark">继续购物</a></div>
    </div>
</div>
<div ng-include src="'partials/menu2.html'" class="topTitle2"></div>