<div class="signupView myPhoneView grayView">
    <div ng-show="step==1">
        <div class="a">
            <input type="tel" ng-model="phone" placeholder="输入手机号" maxlength="11"/><button class="bg-orange btn" ng-disabled="sec>0" ng-click="getCode()">{{sec>0?sec:"发送验证码"}}</button>
        </div>
        <input type="text" ng-model="code" placeholder="输入验证码" maxlength="4"/>
        <div class="font-orange" style="height:20px;margin:-15px 0 15px 0;text-align:left;">{{sec>0?"已发送随机验证码到您手机，请注意查收！":""}}</div>
        <button class="bg-orange btn" ng-click="bind()" ng-disabled="!phone||!code">绑 定</button>
    </div>
    <div ng-show="step==2" class="msg font-green2"><i></i><br>手机绑定成功</div>
</div>
<div ng-include src="'partials/menu2.html'" class="posTitle"></div>